node_modules
.svelte-kit
build
dist
dist-electron
.flatpak-builder/
build-flatpak/
repo-flatpak/

src-tauri/target
src-tauri/gen
*.db
*.db-shm
*.db-wal
AppDir/
linuxdeploy-root/
linuxdeploy-x86_64.AppImage
linuxdeploy-plugin-gtk.sh
linuxdeploy-plugin-appimage-x86_64.AppImage
squashfs-root/
