node_modules
.svelte-kit
build

src-tauri/target
src-tauri/gen

*.db
*.db-shm
*.db-wal
AppDir/
linuxdeploy-x86_64.AppImage
linuxdeploy-plugin-gtk.sh
linuxdeploy-plugin-appimage-x86_64.AppImage
linuxdeploy-root/
squashfs-root/
