[Desktop Entry]
Type=Application
Name=KitoDo
Comment=Fast launcher-style tasks app
Exec=kitodo-launcher
Icon=io.github.KitotsuMolina.KitoDo
Terminal=false
Categories=Office;Utility;
StartupNotify=true
StartupWMClass=kitodo
X-GNOME-WMClass=kitodo
