[Desktop Entry]
Type=Application
Name=KitoDo
Comment=Fast launcher-style tasks app
Exec=kitodo
Icon=io.github.KitotsuMolina.KitoDo
Terminal=false
Categories=Utility;Office;Productivity;
StartupNotify=true
